:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-100: #ff0000;
  --primary-200: #ff5a36;
  --primary-300: #ffc993;
  --accent-100: #0066ff;
  --accent-200: #e2f6ff;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #ffcc00;
  --bg-200: #f4c200;
  --bg-300: #c79c00;

  background-color: var(--bg-200);
}

.app {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 200px;
  height: auto;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form .campo {
  background-color: var(--text-100);
  border-radius: 20px;
  width: 300px;
  margin: auto;
}

form input {
  width: 80%;
  margin: auto;
  border: none;
  padding: 5px;
  border-radius: 20px;
}

.pokemonList {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  width: fit-content;
}

.pokemonCard {
  background: url('https://p1.hiclipart.com/preview/595/974/344/xy-blanks-basic-lightning-basic-trading-card-png-clipart-thumbnail.jpg');
  border: 10px solid var(--bg-100);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.pokemonCard h3 {
  padding: 10px;
  margin-top: 10px;

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokemonCard h3 span {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}

.pokemonCard h5{
  margin-top: -15px;
}

.pokemonCard img {
  background-color: var(--text-100);
  margin-top: 36px;
  width: 192px;
  margin-right: -24px;
  height: 169px;
}

.BtnPanel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  padding: 10px;
  margin-bottom: 5px;
}

.BtnPanel button {
  background-color: var(--primary-100);
  padding: 10px;
  border: none;
  color: var(--text-200);
  font-weight: bold;
  font-size: 20px;
}

.BtnPanel button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .app {
    width: 60vw;
  }
  .pokemonList {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1024px) {
  .app {
    width: 30vw;
  }
  .pokemonList {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
  }
}
