:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-100: #ff0000;
  --primary-200: #ff5a36;
  --primary-300: #ffc993;
  --accent-100: #0066ff;
  --accent-200: #e2f6ff;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #ffcc00;
  --bg-200: #f4c200;
  --bg-300: #c79c00;

  background-color: var(--bg-200);
}



@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}
