@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-100: #ff0000;
  --primary-200: #ff5a36;
  --primary-300: #ffc993;
  --accent-100: #0066ff;
  --accent-200: #e2f6ff;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #ffcc00;
  --bg-200: #f4c200;
  --bg-300: #c79c00;

  background-color: var(--accent-200);
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  background: url('./IMG/pokedex_small.svg');
  width: 83dvw;
  height: 63dvh;
  background-repeat: no-repeat;
  margin: auto;
}

form{
  position: absolute;
  top: 316px;
  left: 58px;
  }

  input[type='text']{
    background-color: #23F900;
    border:none;
    height: 40px;
    width: 180px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  }

  section{
    background-color: transparent;
    position: absolute;
    top: 109px;
    left: 60px;
    width: 250px;
    height: 199px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  img{
    width: 70px;
  }

  .principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  h3{
    text-transform: uppercase;
  }

  table{
    text-align: left;
    font-size: 10px;
    padding: 5px;
  }

  tr{
    border-bottom: 1px solid black;
    margin-left: 0;
  }

  
  .type{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .type p{
    margin: 0;
  }
  
  .ScreenOFF{
    position: relative;
    top:240px;
    left: 110px;
  }
  
  .grass{
    background-color: rgb(127, 247, 127);
  }


  .water{
    background-color:#6890f0 ;
  }

  .normal{
    background-color:  #A8A878;
  }

  .fighting{
    background-color: #C03028;
  }

  .flying{
    background-color: #A890F0;
  }

  .poison{
    background-color: #A040A0;
  }

  .ground{
    background-color: #E0C068;
  }

  .rock{
    background-color: #B8A038 ;
  }

  .bug{
    background-color: #A8B820;
  }

  .ghost{
    background-color: #705898
  }

  .steel{
    background-color: #B8B8D0;
  }

  .fire{
    background-color: #F08030;
  }

  .electric{
    background-color: #F8D030;
  }

  .psychic{
    background-color: #F85888;
  }

  .ice{
    background-color: #98D8D8;
  }

  .dragon{
    background-color:#7038F8;
  }

  .dark{
    background-color :#705848;
  }

  .fairy{
    background-color: 	#EE99AC;
  }


@media (min-width: 768px) {
  .App{
    background: url('./IMG/pokedex.svg');
    background-repeat: no-repeat;
    height: 100vh;
  }

  form{
    top: 475px;
    left: 120px;
  }

  input[type='text']{
    width: 270px;
  }

  section{
    background-color: transparent;
    position: absolute;
    top: 141px;
    left: 119px;
    width: 371px;
    height: 302px;
  }

  img{
    width: 100px;
  }
  table{
    font-size: 21px;
  }

  .type{
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  form{
    left: 164px;
  }
  
  input[type='text']{
    width: 270px;
  
  }

  section{
    left:164px;
  }
}

@media (min-width: 1280px){
  
  form{
    left: 174px
  }
}
